.recent-view {
  padding: 10px 50px;
}

.recent-view-top {
  padding: 10px 12px;
  font-weight: 600;
  font-size: 30px;
}

.recent-view-img-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.recent-view-right-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid #ccc;
  right: -30px;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}

.recent-view-img {
  width: 100%;
  aspect-ratio: 4/3;
  /* border: 1px solid #ccc; */
}

.recent-view-img-wrapper {
  width: calc((100% - 60px) / 4);
  text-align: center;
}

.recent-view-img-wrapper:hover {
  /* border: 2px solid #777; */
  cursor: pointer;
}

.recent-view-img-text {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #5d4037;
}

.recent-view-img {
  cursor: pointer;
}

.recent-img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  padding: 2px 2px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: 700;
  font-size: 16px;
  text-shadow: 1px 1px 2px #000;
}

@media (max-width: 720px) {
  .recent-view {
    padding: 10px 22px;
  }
  .recent-view-top {
    text-align: center;
  }
  .recent-img-overlay {
    opacity: 1;
  }
  .recent-view-img-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .recent-view-img-wrapper {
    width: 100%;
    text-align: center;
  }

  .recent-view-img {
    width: 100%;
    height: auto;
  }

  .recent-view-img-text {
    bottom: 10px;
  }

  .recent-view-right-icon {
    display: none;
  }
}

.recent-img-container {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.recent-view-img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}

.recent-view-img-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}
.recent-view-img-text {
  color: white;
}
/* .recent-img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  padding: 2px 2px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: 700;
  font-size: 16px;
  text-shadow: 1px 1px 2px #000;
} */

.recent-view-img-wrapper:hover .recent-view-img {
  transform: scale(1.2);
}

.recent-view-img-wrapper:hover .recent-img-overlay {
  opacity: 1;
}
