.payment-hash {
  width: 3%;
}
.payment-order {
  width: 20%;
  line-break: anywhere;
}
.payment-title {
  width: 20%;
  line-break: anywhere;
}
.payment-weight {
  width: 10%;
}
.payment-amount {
  width: 10%;
}
.payment-date {
  width: 10%;
}

.handleview {
  width: 10%;
  cursor: pointer;
  color: blue;
}
