
.cart-list-container {
  font-family: sans-serif;
  border: 1px solid #e4e2e2;
  width: 70%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  vertical-align: middle;
}

thead th {
  background-color: #f8f8f8;
  font-weight: bold;
  color: #555;
  font-size: 12px;
  text-transform: uppercase;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

.cart-hash {
  width: 5%;
}
.cart-name {
  width: 15%;
  line-break: anywhere;
}
.cart-amount {
  width: 15%;
  line-break: anywhere;
}
.cart-weight {
  width: 10%;
}

.cart-date {
  width: 18%;
}

.cart-box {
  width: 20%;
  line-break: anywhere;
}

.cart-delete {
  text-align: end;
}
.cart-view {
  text-align: end;
}

.handleview {
  width: 10%;
  cursor: pointer;
  color: blue;
  text-align: end;
}

.handledelete {
  width: 10%;
  cursor: pointer;
  color: red;
  text-align: end;
}


@media (max-width: 1000px) {
  .cart-list-container {
    width: 95%;
  }



}

@media (max-width: 720px) {
  .cart-list-container {
    width: 100%;
    overflow-x: auto;
        overflow-x: scroll;

  }

  th,
  td {
    padding: 14px 8px;
  }
}

@media (max-width: 560px) {

  th,
  td {
    padding: 12px 8px;
  }

  .cart-saved-list-container {
    width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    overflow-x: scroll;
  }

  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-size: 10px;
    vertical-align: middle;
  }

  thead th {
    background-color: #f8f8f8;
    font-weight: bold;
    color: #555;
    font-size: 10px;
    text-transform: uppercase;
  }

  .cart-hash {
    width: 5%;
  }

  .cart-name {
    width: 15%;
    line-break: anywhere;
  }

  .cart-amount {
    width: 15%;
    line-break: anywhere;
  }

  .cart-weight {
    width: 15%;
  }

  .cart-date {
    width: 18%;
  }

  .cart-delete {
    text-align: end;
  }

  .cart-view {
    text-align: end;
  }


}

@media (max-width: 460px) {

  th,
  td {
    padding: 12px 6px;
  }

  .search-input {
    min-width: 200px;
  }

  .guest-list-header {
    gap: 10px;
  }

  .add-guest-button {
    white-space: nowrap;
  }
}