.banner-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 500px; */
}

.link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: rgb(20, 148, 222);
}

.icon-wrapper {
  position: absolute;
  bottom: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.banner-btn {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  color: #982900;
  box-shadow: 0 6px 24px rgba(255, 215, 0, 0.4);
  background: linear-gradient(135deg, #ffd700 0%, #b8860b 100%);
}


.banner-btn:hover {
  background: linear-gradient(135deg, #b8860b 0%, #ffd700 100%);
  transform: translateY(-2px);
}


@media (max-width: 500px) {
  .icon-wrapper {
    bottom: 30px;
  }

.banner-btn {
  font-size: 0.8rem;
  padding: 6px 18px;
}


}

.order-btn {
  position: absolute;
  align-items: center;
  appearance: none;
  background-color: rgb(255, 215, 0);
  border: 0;
  border-radius: 30px;
  /* rounded */
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,
    rgba(45, 35, 66, .3) 0 7px 13px -3px,
    rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #982900;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 40px;
  width: 250px;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s, background-color .3s ease;
  user-select: none;
  font-size: 20px;
}

.order-btn:hover {
  background-color: #660000;
  /* darker shade on hover */
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px,
    rgba(45, 35, 66, .3) 0 7px 13px -3px,
    #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.order-btn:active {
  background-color: #4d0000;
  /* even darker on click */
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

