.banner-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.icon-wrapper {
  position: absolute;
  bottom: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
