.sweets {
      margin: 20px 0;
}
.sweets-header {
      display: flex;
      justify-content: space-evenly;
}

.sweets-header div {
      min-height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 225px;
      background-color: #800000;
      color: #ffd700;
      font-size: 16px;
      font-weight: 500;
}

.sweets-header div a {
      color: #ffd700;
      text-decoration: none;
}
.sweets-content {
      display: flex;
      gap: 20px;
      padding: 15px;
      justify-content: space-between;
}

.sweets-content-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 25px;
}
.sweets-content-img {
      min-height: 477px;
      min-width: 360px;
      box-shadow: 0 2px 3px rgba(117, 65, 65, 0.5);
      position: relative;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.sweets-content-img img {
      height: 335px;
      width: 358px;
}

.sweets-name {
      position: absolute;
      bottom: 50px;
      color: #5d4037;
      font-size: 20px;
      font-weight: 700;
}

.sweets-price {
      position: absolute;
      bottom: 20px;
      font-size: 20px;
      font-weight: 600;
      color: #5d4037;
}
