.sweets {
  margin: 20px 0;
}
.sweets-header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sweets-header div a {
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 225px; */
  padding: 0 25px;
  background-color: #800000;
  color: #ffd700;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.sweets-content {
  display: flex;
  gap: 20px;
  padding: 15px;
  justify-content: space-between;
}

.sweets-content-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
.sweets-content-img {
  min-height: 477px;
  min-width: 360px;
  box-shadow: 0 2px 3px rgba(117, 65, 65, 0.5);
  position: relative;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sweets-content-img img {
  height: 335px;
  width: 358px;
}

.sweets-name {
  position: absolute;
  bottom: 50px;
  color: #5d4037;
  font-size: 20px;
  font-weight: 700;
}

.sweets-price {
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #5d4037;
}
.btn-done {
  border-radius: 10px;
  background-color: #ffd700;
  color: #800000;
  padding: 5px 10px;
  text-align: center;
  width: 50px;
  cursor: pointer;
}

.show-arrow-right img {
  border-radius: 12px;
  padding: 4px 6px;
  background-color: white;
  border-radius: 25px;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.sweet-select {
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .sweets-header {
    margin: 30px 0px;
    gap: 8px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .sweets-header div a {
    padding: 0 14px;
  }

  .sweets-content {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .sweets-content-list {
    flex-direction: column;
  }

  .sweets-content-img {
    width: auto;
    min-width: auto;
  }
  .sweets-content-img img {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .sweets-header div a {
    padding: 0px 15px;
  }
  .sweets-content-list {
    justify-content: center;
  }
}
