.sweets-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 100px;
}
.sweets-info-back-button button {
  color: #800000;
  background-color: #ffd700;
  border-radius: 10px;
  border-style: none;
  padding: 10px 5px;
  width: 100px;
}
.sweets-info-details {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.sweets-info-img img {
  height: 420px;
  width: 638px;
}
.sweets-info-name {
  display: flex;
  font-weight: 600;
  font-size: 25px;
  color: #253d4e;
}
.sweets-info-right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
.sweets-info-des {
  font-size: 13px;
  font-weight: 700;
  color: #253d4e;
}
.sweets-info-text {
  font-weight: 400;
  font-size: 18px;
  color: #212121;
  word-break: break-word;
}
.sweets-info-price {
  font-size: 15px;
  font-weight: 700;
  color: #000000;
  margin: 10px 0px;
}
.sweets-info-button button {
  padding: 10px;
  width: 100px;
  font-weight: 500;
  background-color: #ffd700;
  border-radius: 10px;
  border-style: none;
  font-size: 16px;
  color: #800000;
}
