.review {
      display: flex;
      flex-direction: column;
      padding: 12px 80px;
      margin: 50px 0;
}
.review-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
}
.review-list-desc {
      margin: 40px 0;
      font-weight: 600;
      font-size: 48px;
}
.review-list-img img {
      height: 88px;
      width: 88px;
}
.review-list-name {
      font-size: 24px;
      font-weight: 600;
}
.review-list-designation {
      font-size: 18px;
      font-weight: 500;
}
.review-icon {
      margin-top: 15px;
      display: flex;
      gap: 10px;
      justify-content: center;
}

@media (max-width: 500px) {
      .review {
            padding: 12px 20px;
      }
}
