/* HomeAnimation.css */

.animation-container {
  height: 150vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.animated-box {
  width: 150px;
  height: 150px;
  background-color: #7b2cbf; 
  border-radius: 20px; 
}