.invitation-box {
  padding: 10px 50px;
}

.invitation-box-left-text {
  font-weight: 600;
  font-size: 30px;
  font-family: "'Playfair Display', serif";
}

.invitation-box-list {
  display: flex;
  justify-content: space-between;
}

.invitation-box-wrapper {
  text-align: center;
  width: 24%;
}

.invitation-box-img {
  width: 100%;
  border: 1px solid #ccc;
  /* height: 535px; */
  aspect-ratio: 4/3;
  cursor: pointer;
  border-radius: 10px;
}

.invitation-box-img-text {
  width: 100%;
  bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.invitation-box-img:hover {
  border: 1px solid #777;
}
.invitation-box-img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  padding: 2px 2px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: 700;
  font-size: 16px;
  text-shadow: 1px 1px 2px #000;
}

@media (max-width: 850px) {
  /* .invitation-box-img {
    height: 300px;
  } */
  .invitation-box-list {
    padding: 2px;
  }
  .invitation-box {
    padding: 10px 22px;
  }
}

@media (max-width: 720px) {
  /* .invitation-box-img {
    height: 300px;
  } */
  .invitation-box-list {
    padding: 2px;
  }
  .invitation-box-img-overlay {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .invitation-box-left-text {
    font-weight: 600;
    font-size: 26px;
  }

  .invitation-box-wrapper {
    width: 100%;
  }

  .invitation-box-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .invitation-box-left-text {
    text-align: center;
  }

  .invitation-box-img {
    width: 100%;
    height: auto;
  }
}

.invitation-box-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}

.invitation-box-img-container {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.invitation-box-img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}

/* .invitation-box-img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  padding: 2px 2px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: 700;
  font-size: 16px;
  text-shadow: 1px 1px 2px #000;
} */

.invitation-box-wrapper:hover .invitation-box-img {
  transform: scale(1.2);
}

.invitation-box-wrapper:hover .invitation-box-img-overlay {
  opacity: 1;
}
